.wrapper {
    padding: 12px;
}


.register-button {
    background-color: #30cf28;
    border: none;
    border-radius: 5px;
    padding: 20px 40px;

    &:hover {
        background-color: #159f51;
    }
}